DB_NAME=creta
DB_USER=creta_user
DB_PASSWORD=creta_pass
DB_HOST=127.0.0.1
DB_PORT=5433

SECRET_KEY=cambia-esto-por-una-clave-larga

ADMIN_PIN=5912
ADMIN_ROUTE_KEY=gestion

MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD=xxxx_xxxx_xxxx_xxxx
ADMIN_EMAIL=tu_email@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
