# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# Env
.env

# Logs
logs/
*.log

# DB
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Flask-Migrate (keep migrations/ but not __pycache__ inside)
migrations/__pycache__/
.pytest_cache__/
